In [1]:
import pandas as pd
import os

In [2]:
# Get parent directory
parent_dir = os.path.dirname(os.getcwd())

In [3]:
mortezas_dataset_complete_with_annotations_path = os.path.join(
    parent_dir, "raw", "mortezas_dataset_complete_with_annotations.csv"
)
mortezas_dataset_complete_with_annotations_path

'/home/parsa/Codebases/GitHub_Repositories/USC-PSYC626-Abortion-Project/data/raw/mortezas_dataset_complete_with_annotations.csv'

In [4]:
isi_dataset_sampled_with_annotations_path = os.path.join(
    parent_dir, "raw", "isi_dataset_sampled_with_annotations.csv"
)
isi_dataset_sampled_with_annotations_path

'/home/parsa/Codebases/GitHub_Repositories/USC-PSYC626-Abortion-Project/data/raw/isi_dataset_sampled_with_annotations.csv'

In [5]:
mortezas_dataset_complete_with_annotations_df = pd.read_csv(
    mortezas_dataset_complete_with_annotations_path,
    engine="python",
    dtype={
        "full_text": "str",
        "conversation_id_str": "str",
        "created_at": "object",
        "id_str": "str",
        "user": "object",
        "annotation": "str",
    },
)
mortezas_dataset_complete_with_annotations_df

,full_text,conversation_id_str,created_at,id_str,user,annotation
0,Happy #prochoice New Year. #HumanRights for wo...,550441533166456832,Thu Jan 01 00:01:02 +0000 2015,550441533166456832,"{""advertiser_account_service_levels"":[],""adver...",NaN
1,Tubal (ectopic) pregnancies increase by 30% af...,550442364456558592,Thu Jan 01 00:04:21 +0000 2015,550442364456558592,"{""advertiser_account_service_levels"":[],""adver...",NaN
2,Nicki Minaj discusses the #abortion she refere...,550443662664929281,Thu Jan 01 00:09:30 +0000 2015,550443662664929281,"{""advertiser_account_service_levels"":[],""adver...",NaN
3,@pmbasse @WendyDavisTexas #PlannedParenthood r...,550428829618286592,Thu Jan 01 00:10:50 +0000 2015,550443998662647811,"{""advertiser_account_service_levels"":[""analyti...",NaN
4,#ProLife #Perspective On This Story: @NickiMin...,550444672221724672,Thu Jan 01 00:13:31 +0000 2015,550444672221724672,"{""advertiser_account_service_levels"":[""smb""],""...",NaN
...,...,...,...,...,...,...
2693004,@maadinochka @ExmuslimsOrg I'm totally OK with...,1313556155281616898,Tue Oct 06 23:58:27 +0000 2020,1313629726515359746,"{""advertiser_account_service_levels"":[],""adver...",NaN
2693005,This is what a so-called #prolife administrati...,1313629761063641088,Tue Oct 06 23:58:35 +0000 2020,1313629761063641088,"{""advertiser_account_service_levels"":[""analyti...",NaN
2693006,@DonaldTrump\nHow's your pro-life base feel ab...,1313629892307812353,Tue Oct 06 23:59:07 +0000 2020,1313629892307812353,"{""advertiser_account_service_levels"":[""analyti...",NaN
2693007,Similar to Biden’s promise of federal legislat...,1313629896900571137,Tue Oct 06 23:59:08 +0000 2020,1313629896900571137,"{""advertiser_account_service_levels"":[""media_s...",NaN
2693008,"Please Pray For My Grandmother, Who Died, And ...",1313630057173311488,Tue Oct 06 23:59:47 +0000 2020,1313630062856544259,"{""advertiser_account_service_levels"":[],""adver...",NaN

In [6]:
# Add a column to mortezas_dataset_complete_with_annotations_df named "source" with the value "mortezas"
mortezas_dataset_complete_with_annotations_df["source"] = "mortezas"
mortezas_dataset_complete_with_annotations_df

,full_text,conversation_id_str,created_at,id_str,user,annotation,source
0,Happy #prochoice New Year. #HumanRights for wo...,550441533166456832,Thu Jan 01 00:01:02 +0000 2015,550441533166456832,"{""advertiser_account_service_levels"":[],""adver...",NaN,mortezas
1,Tubal (ectopic) pregnancies increase by 30% af...,550442364456558592,Thu Jan 01 00:04:21 +0000 2015,550442364456558592,"{""advertiser_account_service_levels"":[],""adver...",NaN,mortezas
2,Nicki Minaj discusses the #abortion she refere...,550443662664929281,Thu Jan 01 00:09:30 +0000 2015,550443662664929281,"{""advertiser_account_service_levels"":[],""adver...",NaN,mortezas
3,@pmbasse @WendyDavisTexas #PlannedParenthood r...,550428829618286592,Thu Jan 01 00:10:50 +0000 2015,550443998662647811,"{""advertiser_account_service_levels"":[""analyti...",NaN,mortezas
4,#ProLife #Perspective On This Story: @NickiMin...,550444672221724672,Thu Jan 01 00:13:31 +0000 2015,550444672221724672,"{""advertiser_account_service_levels"":[""smb""],""...",NaN,mortezas
...,...,...,...,...,...,...,...
2693004,@maadinochka @ExmuslimsOrg I'm totally OK with...,1313556155281616898,Tue Oct 06 23:58:27 +0000 2020,1313629726515359746,"{""advertiser_account_service_levels"":[],""adver...",NaN,mortezas
2693005,This is what a so-called #prolife administrati...,1313629761063641088,Tue Oct 06 23:58:35 +0000 2020,1313629761063641088,"{""advertiser_account_service_levels"":[""analyti...",NaN,mortezas
2693006,@DonaldTrump\nHow's your pro-life base feel ab...,1313629892307812353,Tue Oct 06 23:59:07 +0000 2020,1313629892307812353,"{""advertiser_account_service_levels"":[""analyti...",NaN,mortezas
2693007,Similar to Biden’s promise of federal legislat...,1313629896900571137,Tue Oct 06 23:59:08 +0000 2020,1313629896900571137,"{""advertiser_account_service_levels"":[""media_s...",NaN,mortezas
2693008,"Please Pray For My Grandmother, Who Died, And ...",1313630057173311488,Tue Oct 06 23:59:47 +0000 2020,1313630062856544259,"{""advertiser_account_service_levels"":[],""adver...",NaN,mortezas

In [7]:
# Check for nulls in mortezas_dataset_complete_with_annotations_df
mortezas_dataset_complete_with_annotations_df.isnull().sum()

full_text                    0
conversation_id_str          0
created_at                 803
id_str                       0
user                       803
annotation             2690761
source                       0
dtype: int64

In [8]:
isi_dataset_sampled_with_annotations_df = pd.read_csv(
    isi_dataset_sampled_with_annotations_path,
    engine="python",
    dtype={
        "full_text": "str",
        "conversation_id_str": "str",
        "created_at": "object",
        "id_str": "str",
        "user_id_str": "str",
        "annotation": "str",
    },
)
isi_dataset_sampled_with_annotations_df

,full_text,conversation_id_str,created_at,id_str,user_id_str,annotation
0,Meet our new advisory group!\nThese exceptiona...,1486109037959786496,2022-01-25 22:49:39+00:00,1486109037959786497,1363876242924199936,NaN
1,@ashtonpittman Republicans don't get to weigh ...,1487572155407781888,2022-01-29 23:43:34+00:00,1487572155407781888,1296882535230775296,NaN
2,BREAKING: A new poll shows 69% of Americans OP...,1484722644368855040,2022-01-22 03:00:37+00:00,1484722644368855041,345237343,NaN
3,what value is there to the life I want to end?,1486948918034243584,2022-01-28 06:27:02+00:00,1486948918034243584,1411539200353112064,NaN
4,The other side enjoys government support in Sc...,1484536663695151104,2022-01-21 14:41:37+00:00,1484536666266218496,19414559,NaN
...,...,...,...,...,...,...
8283219,@therealityp @jefftheman058 @KurtSchlichter Ok...,1609588321851965440,2023-01-02 18:52:59+00:00,1609986129318625280,16161976,NaN
8283220,@NFT_GOD @Daggo_ Loved this ❤️,1609913211930697728,2023-01-03 10:33:27+00:00,1610222805337112576,1522766332693000192,NaN
8283221,What matters most in life are the beautiful me...,1609562962360172544,2023-01-01 14:51:29+00:00,1609562962360172544,593269960,NaN
8283222,@desontour_paul @ValaAfshar I don’t need you i...,1609008817383133184,2023-01-01 03:37:00+00:00,1609393226342965248,308134564,NaN
8283223,I hate it all. Soft life. Luxury life. Day in ...,1610329054330384384,2023-01-03 17:35:39+00:00,1610329054330384384,872277165949108224,NaN

In [9]:
# Add a column to isi_dataset_sampled_with_annotations_df named "source" with the value "isi"
isi_dataset_sampled_with_annotations_df["source"] = "isi"
isi_dataset_sampled_with_annotations_df

,full_text,conversation_id_str,created_at,id_str,user_id_str,annotation,source
0,Meet our new advisory group!\nThese exceptiona...,1486109037959786496,2022-01-25 22:49:39+00:00,1486109037959786497,1363876242924199936,NaN,isi
1,@ashtonpittman Republicans don't get to weigh ...,1487572155407781888,2022-01-29 23:43:34+00:00,1487572155407781888,1296882535230775296,NaN,isi
2,BREAKING: A new poll shows 69% of Americans OP...,1484722644368855040,2022-01-22 03:00:37+00:00,1484722644368855041,345237343,NaN,isi
3,what value is there to the life I want to end?,1486948918034243584,2022-01-28 06:27:02+00:00,1486948918034243584,1411539200353112064,NaN,isi
4,The other side enjoys government support in Sc...,1484536663695151104,2022-01-21 14:41:37+00:00,1484536666266218496,19414559,NaN,isi
...,...,...,...,...,...,...,...
8283219,@therealityp @jefftheman058 @KurtSchlichter Ok...,1609588321851965440,2023-01-02 18:52:59+00:00,1609986129318625280,16161976,NaN,isi
8283220,@NFT_GOD @Daggo_ Loved this ❤️,1609913211930697728,2023-01-03 10:33:27+00:00,1610222805337112576,1522766332693000192,NaN,isi
8283221,What matters most in life are the beautiful me...,1609562962360172544,2023-01-01 14:51:29+00:00,1609562962360172544,593269960,NaN,isi
8283222,@desontour_paul @ValaAfshar I don’t need you i...,1609008817383133184,2023-01-01 03:37:00+00:00,1609393226342965248,308134564,NaN,isi
8283223,I hate it all. Soft life. Luxury life. Day in ...,1610329054330384384,2023-01-03 17:35:39+00:00,1610329054330384384,872277165949108224,NaN,isi

In [10]:
# Rename the column "user_id_str" to "user" in isi_dataset_sampled_with_annotations_df
isi_dataset_sampled_with_annotations_df.rename(
    columns={"user_id_str": "user"}, inplace=True
)
isi_dataset_sampled_with_annotations_df

,full_text,conversation_id_str,created_at,id_str,user,annotation,source
0,Meet our new advisory group!\nThese exceptiona...,1486109037959786496,2022-01-25 22:49:39+00:00,1486109037959786497,1363876242924199936,NaN,isi
1,@ashtonpittman Republicans don't get to weigh ...,1487572155407781888,2022-01-29 23:43:34+00:00,1487572155407781888,1296882535230775296,NaN,isi
2,BREAKING: A new poll shows 69% of Americans OP...,1484722644368855040,2022-01-22 03:00:37+00:00,1484722644368855041,345237343,NaN,isi
3,what value is there to the life I want to end?,1486948918034243584,2022-01-28 06:27:02+00:00,1486948918034243584,1411539200353112064,NaN,isi
4,The other side enjoys government support in Sc...,1484536663695151104,2022-01-21 14:41:37+00:00,1484536666266218496,19414559,NaN,isi
...,...,...,...,...,...,...,...
8283219,@therealityp @jefftheman058 @KurtSchlichter Ok...,1609588321851965440,2023-01-02 18:52:59+00:00,1609986129318625280,16161976,NaN,isi
8283220,@NFT_GOD @Daggo_ Loved this ❤️,1609913211930697728,2023-01-03 10:33:27+00:00,1610222805337112576,1522766332693000192,NaN,isi
8283221,What matters most in life are the beautiful me...,1609562962360172544,2023-01-01 14:51:29+00:00,1609562962360172544,593269960,NaN,isi
8283222,@desontour_paul @ValaAfshar I don’t need you i...,1609008817383133184,2023-01-01 03:37:00+00:00,1609393226342965248,308134564,NaN,isi
8283223,I hate it all. Soft life. Luxury life. Day in ...,1610329054330384384,2023-01-03 17:35:39+00:00,1610329054330384384,872277165949108224,NaN,isi

In [11]:
# Make sure the columns in mortezas_dataset_complete_with_annotations_df and isi_dataset_sampled_with_annotations_df are the same
assert mortezas_dataset_complete_with_annotations_df.columns.tolist() == isi_dataset_sampled_with_annotations_df.columns.tolist()

In [12]:
# Concatenate the two dataframes
df = pd.concat(
    [mortezas_dataset_complete_with_annotations_df, isi_dataset_sampled_with_annotations_df]
)
df

,full_text,conversation_id_str,created_at,id_str,user,annotation,source
0,Happy #prochoice New Year. #HumanRights for wo...,550441533166456832,Thu Jan 01 00:01:02 +0000 2015,550441533166456832,"{""advertiser_account_service_levels"":[],""adver...",NaN,mortezas
1,Tubal (ectopic) pregnancies increase by 30% af...,550442364456558592,Thu Jan 01 00:04:21 +0000 2015,550442364456558592,"{""advertiser_account_service_levels"":[],""adver...",NaN,mortezas
2,Nicki Minaj discusses the #abortion she refere...,550443662664929281,Thu Jan 01 00:09:30 +0000 2015,550443662664929281,"{""advertiser_account_service_levels"":[],""adver...",NaN,mortezas
3,@pmbasse @WendyDavisTexas #PlannedParenthood r...,550428829618286592,Thu Jan 01 00:10:50 +0000 2015,550443998662647811,"{""advertiser_account_service_levels"":[""analyti...",NaN,mortezas
4,#ProLife #Perspective On This Story: @NickiMin...,550444672221724672,Thu Jan 01 00:13:31 +0000 2015,550444672221724672,"{""advertiser_account_service_levels"":[""smb""],""...",NaN,mortezas
...,...,...,...,...,...,...,...
8283219,@therealityp @jefftheman058 @KurtSchlichter Ok...,1609588321851965440,2023-01-02 18:52:59+00:00,1609986129318625280,16161976,NaN,isi
8283220,@NFT_GOD @Daggo_ Loved this ❤️,1609913211930697728,2023-01-03 10:33:27+00:00,1610222805337112576,1522766332693000192,NaN,isi
8283221,What matters most in life are the beautiful me...,1609562962360172544,2023-01-01 14:51:29+00:00,1609562962360172544,593269960,NaN,isi
8283222,@desontour_paul @ValaAfshar I don’t need you i...,1609008817383133184,2023-01-01 03:37:00+00:00,1609393226342965248,308134564,NaN,isi
8283223,I hate it all. Soft life. Luxury life. Day in ...,1610329054330384384,2023-01-03 17:35:39+00:00,1610329054330384384,872277165949108224,NaN,isi

In [13]:
# Are there null values in the dataframe?
df.isnull().sum()

full_text                     0
conversation_id_str           0
created_at                  803
id_str                        0
user                        803
annotation             10973607
source                        0
dtype: int64

In [15]:
df.dtypes

full_text              object
conversation_id_str    object
created_at             object
id_str                 object
user                   object
annotation             object
source                 object
dtype: object

In [16]:
# Get annotation unique values
df["annotation"].unique()

array([nan, 'Choice ', 'Life ', 'Neutral ', 'Throw out ', 'Life',
       'Unsure', 'Throw Out '], dtype=object)

In [17]:
# Strip the annotation column
df["annotation"] = df["annotation"].str.strip()
df["annotation"].unique()

array([nan, 'Choice', 'Life', 'Neutral', 'Throw out', 'Unsure',
       'Throw Out'], dtype=object)

In [18]:
# lower case the annotation column
df["annotation"] = df["annotation"].str.lower()
df["annotation"].unique()

array([nan, 'choice', 'life', 'neutral', 'throw out', 'unsure'],
      dtype=object)

In [19]:
# Change every "throw out" label to "throw_out" under the "annotation" column
df["annotation"] = df["annotation"].str.replace("throw out", "throw_out")
df["annotation"].unique()

array([nan, 'choice', 'life', 'neutral', 'throw_out', 'unsure'],
      dtype=object)

In [20]:
df["annotation"].value_counts()

life         1062
choice       1028
neutral       318
throw_out     216
unsure          2
Name: annotation, dtype: int64

In [21]:
# Drop rows with "unsure" value in their "annotation" column
df = df[df["annotation"] != "unsure"]
df["annotation"].value_counts()

life         1062
choice       1028
neutral       318
throw_out     216
Name: annotation, dtype: int64

In [23]:
# reset the index
df.reset_index(drop=True, inplace=True)
df

,full_text,conversation_id_str,created_at,id_str,user,annotation,source
0,Happy #prochoice New Year. #HumanRights for wo...,550441533166456832,Thu Jan 01 00:01:02 +0000 2015,550441533166456832,"{""advertiser_account_service_levels"":[],""adver...",NaN,mortezas
1,Tubal (ectopic) pregnancies increase by 30% af...,550442364456558592,Thu Jan 01 00:04:21 +0000 2015,550442364456558592,"{""advertiser_account_service_levels"":[],""adver...",NaN,mortezas
2,Nicki Minaj discusses the #abortion she refere...,550443662664929281,Thu Jan 01 00:09:30 +0000 2015,550443662664929281,"{""advertiser_account_service_levels"":[],""adver...",NaN,mortezas
3,@pmbasse @WendyDavisTexas #PlannedParenthood r...,550428829618286592,Thu Jan 01 00:10:50 +0000 2015,550443998662647811,"{""advertiser_account_service_levels"":[""analyti...",NaN,mortezas
4,#ProLife #Perspective On This Story: @NickiMin...,550444672221724672,Thu Jan 01 00:13:31 +0000 2015,550444672221724672,"{""advertiser_account_service_levels"":[""smb""],""...",NaN,mortezas
...,...,...,...,...,...,...,...
10976226,@therealityp @jefftheman058 @KurtSchlichter Ok...,1609588321851965440,2023-01-02 18:52:59+00:00,1609986129318625280,16161976,NaN,isi
10976227,@NFT_GOD @Daggo_ Loved this ❤️,1609913211930697728,2023-01-03 10:33:27+00:00,1610222805337112576,1522766332693000192,NaN,isi
10976228,What matters most in life are the beautiful me...,1609562962360172544,2023-01-01 14:51:29+00:00,1609562962360172544,593269960,NaN,isi
10976229,@desontour_paul @ValaAfshar I don’t need you i...,1609008817383133184,2023-01-01 03:37:00+00:00,1609393226342965248,308134564,NaN,isi
10976230,I hate it all. Soft life. Luxury life. Day in ...,1610329054330384384,2023-01-03 17:35:39+00:00,1610329054330384384,872277165949108224,NaN,isi

In [24]:
df.to_csv(os.path.join(parent_dir, "raw", "abortion_dataset_complete.csv"), index=False)