In [2]:
import pandas as pd
import os

# Abortion1 Dataset

In [17]:
original_file = pd.read_csv(os.path.join(os.getcwd(), 'raw', 'abortion_sentiment_prediction', 'reproduction_tweets.csv'), usecols=['id_str', 'created_at', 'full_text', 'lang', 'user.id', 'user.lang', 'user.location', 'created_at_date', 'geo.coordinates[0]', 'geo.coordinates[1]', 'geo.type'])
original_file

,created_at,full_text,id_str,lang,user.id,user.lang,user.location,created_at_date,geo.coordinates[0],geo.coordinates[1],geo.type
0,Thu Jan 01 00:01:02 +0000 2015,Happy #prochoice New Year. #HumanRights for wo...,550441533166456832,en,950784150,NaN,"Edinburgh, Scotland",2015-01-01T00:01:02.000Z,NaN,NaN,NaN
1,Thu Jan 01 00:04:21 +0000 2015,Tubal (ectopic) pregnancies increase by 30% af...,550442364456558592,en,55885084,NaN,Florida,2015-01-01T00:04:21.000Z,NaN,NaN,NaN
2,Thu Jan 01 00:09:30 +0000 2015,Nicki Minaj discusses the #abortion she refere...,550443662664929281,en,1358581064,NaN,New York Citee,2015-01-01T00:09:30.000Z,NaN,NaN,NaN
3,Thu Jan 01 00:10:50 +0000 2015,@pmbasse @WendyDavisTexas #PlannedParenthood r...,550443998662647811,en,2194951358,NaN,NaN,2015-01-01T00:10:50.000Z,NaN,NaN,NaN
4,Thu Jan 01 00:13:31 +0000 2015,#ProLife #Perspective On This Story: @NickiMin...,550444672221724672,en,490632980,NaN,NaN,2015-01-01T00:13:31.000Z,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2692201,Tue Oct 06 23:58:27 +0000 2020,@maadinochka @ExmuslimsOrg I'm totally OK with...,1313629726515359746,en,272114850,NaN,"Montreal,Quebec,Canada,TerraðŸŒŽ",2020-10-06T23:58:27.000Z,NaN,NaN,NaN
2692202,Tue Oct 06 23:58:35 +0000 2020,This is what a so-called #prolife administrati...,1313629761063641088,en,16434589,NaN,"Denver, CO",2020-10-06T23:58:35.000Z,NaN,NaN,NaN
2692203,Tue Oct 06 23:59:07 +0000 2020,@DonaldTrump\nHow's your pro-life base feel ab...,1313629892307812353,en,466075086,NaN,United States,2020-10-06T23:59:07.000Z,NaN,NaN,NaN
2692204,Tue Oct 06 23:59:08 +0000 2020,Similar to Bidenâ€™s promise of federal legislat...,1313629896900571137,en,18163042,NaN,"Washington, DC",2020-10-06T23:59:08.000Z,NaN,NaN,NaN
2692205,Tue Oct 06 23:59:47 +0000 2020,"Please Pray For My Grandmother, Who Died, And ...",1313630062856544259,en,885688339088723968,NaN,NaN,2020-10-06T23:59:47.000Z,NaN,NaN,NaN

In [18]:
original_file['id_str'] = original_file['id_str'].astype(str)
original_file['created_at'] = original_file['created_at'].astype(str)
original_file['full_text'] = original_file['full_text'].astype(str)
original_file['lang'] = original_file['lang'].astype(str)

In [22]:
predicted_file = pd.read_csv(os.path.join(os.getcwd(), 'raw', 'abortion_sentiment_prediction', 'reproduction_tweets_with_predictions.csv'), usecols=['full_text', 'id_str', 'created_at', 'annotation'])
predicted_file

,full_text,annotation,id_str,created_at
0,MT @LifeSite: Planned Parenthood kills 1 baby ...,life,816865079433957376,NaN
1,I'm proud to be a #prolife governor. Thanks to...,life,825041422801702912,NaN
2,The untold story of Americaâ€™s â€˜abortion kingâ€™ ...,life,831210131421540353,NaN
3,@missemhorne @ZachMaxwell_TX We'll all forget ...,throw_out,913158671013748737,NaN
4,Marchers are still flowing through and they're...,life,825082293752578048,NaN
...,...,...,...,...
2692201,@maadinochka @ExmuslimsOrg I'm totally OK with...,life,1313629726515359746,Tue Oct 06 23:58:27 +0000 2020
2692202,This is what a so-called #prolife administrati...,life,1313629761063641088,Tue Oct 06 23:58:35 +0000 2020
2692203,@DonaldTrump\nHow's your pro-life base feel ab...,life,1313629892307812353,Tue Oct 06 23:59:07 +0000 2020
2692204,Similar to Bidenâ€™s promise of federal legislat...,neutral,1313629896900571137,Tue Oct 06 23:59:08 +0000 2020
2692205,"Please Pray For My Grandmother, Who Died, And ...",life,1313630062856544259,Tue Oct 06 23:59:47 +0000 2020

In [23]:
predicted_file['id_str'] = predicted_file['id_str'].astype(str)
predicted_file['full_text'] = predicted_file['full_text'].astype(str)
predicted_file['created_at'] = predicted_file['created_at'].astype(str)
predicted_file['annotation'] = predicted_file['annotation'].astype(str)
predicted_file

,full_text,annotation,id_str,created_at
0,MT @LifeSite: Planned Parenthood kills 1 baby ...,life,816865079433957376,nan
1,I'm proud to be a #prolife governor. Thanks to...,life,825041422801702912,nan
2,The untold story of Americaâ€™s â€˜abortion kingâ€™ ...,life,831210131421540353,nan
3,@missemhorne @ZachMaxwell_TX We'll all forget ...,throw_out,913158671013748737,nan
4,Marchers are still flowing through and they're...,life,825082293752578048,nan
...,...,...,...,...
2692201,@maadinochka @ExmuslimsOrg I'm totally OK with...,life,1313629726515359746,Tue Oct 06 23:58:27 +0000 2020
2692202,This is what a so-called #prolife administrati...,life,1313629761063641088,Tue Oct 06 23:58:35 +0000 2020
2692203,@DonaldTrump\nHow's your pro-life base feel ab...,life,1313629892307812353,Tue Oct 06 23:59:07 +0000 2020
2692204,Similar to Bidenâ€™s promise of federal legislat...,neutral,1313629896900571137,Tue Oct 06 23:59:08 +0000 2020
2692205,"Please Pray For My Grandmother, Who Died, And ...",life,1313630062856544259,Tue Oct 06 23:59:47 +0000 2020

In [24]:
assert len(original_file) == len(predicted_file)

In [26]:
# These two files have the same number of rows, and the id_str column is the same in both files.
# I want to merge these two, keeping all of the original's columns, **only** the annotation column from the predicted file.
# I want to do this by matching the id_str column.
merged_df = pd.merge(original_file, predicted_file[['id_str', 'annotation']], on='id_str', how='left')
merged_df

,created_at,full_text,id_str,lang,user.id,user.lang,user.location,created_at_date,geo.coordinates[0],geo.coordinates[1],geo.type,annotation
0,Thu Jan 01 00:01:02 +0000 2015,Happy #prochoice New Year. #HumanRights for wo...,550441533166456832,en,950784150,NaN,"Edinburgh, Scotland",2015-01-01T00:01:02.000Z,NaN,NaN,NaN,choice
1,Thu Jan 01 00:04:21 +0000 2015,Tubal (ectopic) pregnancies increase by 30% af...,550442364456558592,en,55885084,NaN,Florida,2015-01-01T00:04:21.000Z,NaN,NaN,NaN,life
2,Thu Jan 01 00:09:30 +0000 2015,Nicki Minaj discusses the #abortion she refere...,550443662664929281,en,1358581064,NaN,New York Citee,2015-01-01T00:09:30.000Z,NaN,NaN,NaN,neutral
3,Thu Jan 01 00:10:50 +0000 2015,@pmbasse @WendyDavisTexas #PlannedParenthood r...,550443998662647811,en,2194951358,NaN,NaN,2015-01-01T00:10:50.000Z,NaN,NaN,NaN,life
4,Thu Jan 01 00:13:31 +0000 2015,#ProLife #Perspective On This Story: @NickiMin...,550444672221724672,en,490632980,NaN,NaN,2015-01-01T00:13:31.000Z,NaN,NaN,NaN,life
...,...,...,...,...,...,...,...,...,...,...,...,...
2692201,Tue Oct 06 23:58:27 +0000 2020,@maadinochka @ExmuslimsOrg I'm totally OK with...,1313629726515359746,en,272114850,NaN,"Montreal,Quebec,Canada,TerraðŸŒŽ",2020-10-06T23:58:27.000Z,NaN,NaN,NaN,life
2692202,Tue Oct 06 23:58:35 +0000 2020,This is what a so-called #prolife administrati...,1313629761063641088,en,16434589,NaN,"Denver, CO",2020-10-06T23:58:35.000Z,NaN,NaN,NaN,life
2692203,Tue Oct 06 23:59:07 +0000 2020,@DonaldTrump\nHow's your pro-life base feel ab...,1313629892307812353,en,466075086,NaN,United States,2020-10-06T23:59:07.000Z,NaN,NaN,NaN,life
2692204,Tue Oct 06 23:59:08 +0000 2020,Similar to Bidenâ€™s promise of federal legislat...,1313629896900571137,en,18163042,NaN,"Washington, DC",2020-10-06T23:59:08.000Z,NaN,NaN,NaN,neutral
2692205,Tue Oct 06 23:59:47 +0000 2020,"Please Pray For My Grandmother, Who Died, And ...",1313630062856544259,en,885688339088723968,NaN,NaN,2020-10-06T23:59:47.000Z,NaN,NaN,NaN,life

In [27]:
merged_df['annotation'].value_counts()

annotation
life         1699829
choice        740258
neutral       251515
throw_out        604
Name: count, dtype: int64

In [28]:
merged_df.to_csv(os.path.join(os.getcwd(), 'raw', 'abortion_sentiment_prediction', 'reproduction_tweets_with_predictions.csv'), index=False)

In [73]:
test_df = pd.read_csv(os.path.join(os.getcwd(), 'raw', 'abortion_sentiment_prediction', 'reproduction_tweets_with_predictions.csv'))
test_df

,created_at,full_text,id_str,lang,user.id,user.lang,user.location,created_at_date,geo.coordinates[0],geo.coordinates[1],geo.type,annotation
0,Thu Jan 01 00:01:02 +0000 2015,Happy #prochoice New Year. #HumanRights for wo...,550441533166456832,en,950784150,NaN,"Edinburgh, Scotland",2015-01-01T00:01:02.000Z,NaN,NaN,NaN,choice
1,Thu Jan 01 00:04:21 +0000 2015,Tubal (ectopic) pregnancies increase by 30% af...,550442364456558592,en,55885084,NaN,Florida,2015-01-01T00:04:21.000Z,NaN,NaN,NaN,life
2,Thu Jan 01 00:09:30 +0000 2015,Nicki Minaj discusses the #abortion she refere...,550443662664929281,en,1358581064,NaN,New York Citee,2015-01-01T00:09:30.000Z,NaN,NaN,NaN,neutral
3,Thu Jan 01 00:10:50 +0000 2015,@pmbasse @WendyDavisTexas #PlannedParenthood r...,550443998662647811,en,2194951358,NaN,NaN,2015-01-01T00:10:50.000Z,NaN,NaN,NaN,life
4,Thu Jan 01 00:13:31 +0000 2015,#ProLife #Perspective On This Story: @NickiMin...,550444672221724672,en,490632980,NaN,NaN,2015-01-01T00:13:31.000Z,NaN,NaN,NaN,life
...,...,...,...,...,...,...,...,...,...,...,...,...
2692201,Tue Oct 06 23:58:27 +0000 2020,@maadinochka @ExmuslimsOrg I'm totally OK with...,1313629726515359746,en,272114850,NaN,"Montreal,Quebec,Canada,TerraðŸŒŽ",2020-10-06T23:58:27.000Z,NaN,NaN,NaN,life
2692202,Tue Oct 06 23:58:35 +0000 2020,This is what a so-called #prolife administrati...,1313629761063641088,en,16434589,NaN,"Denver, CO",2020-10-06T23:58:35.000Z,NaN,NaN,NaN,life
2692203,Tue Oct 06 23:59:07 +0000 2020,@DonaldTrump\nHow's your pro-life base feel ab...,1313629892307812353,en,466075086,NaN,United States,2020-10-06T23:59:07.000Z,NaN,NaN,NaN,life
2692204,Tue Oct 06 23:59:08 +0000 2020,Similar to Bidenâ€™s promise of federal legislat...,1313629896900571137,en,18163042,NaN,"Washington, DC",2020-10-06T23:59:08.000Z,NaN,NaN,NaN,neutral
2692205,Tue Oct 06 23:59:47 +0000 2020,"Please Pray For My Grandmother, Who Died, And ...",1313630062856544259,en,885688339088723968,NaN,NaN,2020-10-06T23:59:47.000Z,NaN,NaN,NaN,life

In [79]:
is_id_str_unique = not merged_df['id_str'].duplicated().any()
is_id_str_unique

False

In [77]:
test_df['id_str'][0]

'550441533166456832'

# Abortion2 Dataset

In [69]:
abortion2_df = pd.read_csv(os.path.join(os.getcwd(), 'raw', 'abortion_sentiment_prediction', 'abortion2.csv'))
abortion2_df

,id_str,full_text,annotation
0,1512589082974695424,@douglascountyks \nWHAT QUALITY OF LIFE MATTER...,Throw out
1,1493934780840230916,"@joncoopertweets My life matters too, just lik...",Throw out
2,1512594866148106240,@ResearchAtKU \nWHAT QUALITY OF LIFE MATTERS T...,Throw out
3,1511327683703189504,"""Join us for an afternoon of pro-life empowerm...",Life
4,1499819804915556352,"If youâ€™re seeing this tweet: You matter, your ...",Life
...,...,...,...
4991,1541082613875670016,Post-Roe Wisconsin is on the agenda this week ...,Throw Out
4992,1554263844494640128,For the Kansas Vote Yes vs. Vote NO. The way i...,Life
4993,1591486871720389888,I'm sad. I hate that this country felt a socia...,Throw Out
4994,1540365669912412160,My question is wtf is the republicans about to...,Throw Out
4995,1586805834847117312,@DDL1964 @_celia_bedelia_ A woman was denied a...,Choice

In [70]:
# how many rows have empty values in the annotation column?
abortion2_df['annotation'].isnull().sum()

1408

In [71]:
# Drop the rows that have empty values in the annotation column.
abortion2_df = abortion2_df.dropna(subset=['annotation'])
abortion2_df

,id_str,full_text,annotation
0,1512589082974695424,@douglascountyks \nWHAT QUALITY OF LIFE MATTER...,Throw out
1,1493934780840230916,"@joncoopertweets My life matters too, just lik...",Throw out
2,1512594866148106240,@ResearchAtKU \nWHAT QUALITY OF LIFE MATTERS T...,Throw out
3,1511327683703189504,"""Join us for an afternoon of pro-life empowerm...",Life
4,1499819804915556352,"If youâ€™re seeing this tweet: You matter, your ...",Life
...,...,...,...
4991,1541082613875670016,Post-Roe Wisconsin is on the agenda this week ...,Throw Out
4992,1554263844494640128,For the Kansas Vote Yes vs. Vote NO. The way i...,Life
4993,1591486871720389888,I'm sad. I hate that this country felt a socia...,Throw Out
4994,1540365669912412160,My question is wtf is the republicans about to...,Throw Out
4995,1586805834847117312,@DDL1964 @_celia_bedelia_ A woman was denied a...,Choice

In [72]:
# Are the id_str values unique?
abortion2_df['id_str'].value_counts()

id_str
1521517389141078016    2
1484495090269577216    2
1478185577266692096    2
1558111891934920704    2
1485798801726185472    2
                      ..
1571701590926429952    1
1577226233590729984    1
1600628485214830080    1
1540906556111196160    1
1586805834847117312    1
Name: count, Length: 3571, dtype: int64

In [55]:
original_file = pd.read_csv(os.path.join(os.getcwd(), 'raw', 'abortion_sentiment_prediction', 'all_geotagged_sentiment.csv'))
original_file

/var/folders/vy/c1wn5w9140vc300v9hk79clw0000gn/T/ipykernel_41080/3004554861.py:1: DtypeWarning: Columns (6,24,26,27,37,39,40,41,55,61,64) have mixed types. Specify dtype option on import or set low_memory=False.
  original_file = pd.read_csv(os.path.join(os.getcwd(), 'raw', 'abortion_sentiment_prediction', 'all_geotagged_sentiment.csv'))

,Unnamed: 0.2,vader_preprocessed_text,vader_compound,sentiment,Unnamed: 0.1,Unnamed: 0,id,conversation_id,referenced_tweets.replied_to.id,referenced_tweets.retweeted.id,...,geo.geo.bbox,geo.geo.type,geo.id,geo.name,geo.place_id,geo.place_type,edit_history_tweet_ids,edit_controls.edits_remaining,edit_controls.editable_until,edit_controls.is_edit_eligible
0,0,@HollyCFossi @JerryattheMovie @Mae_Westside @o...,0.9509,positive,0,9811,1533134634359431170,1.533100e+18,1.533123e+18,NaN,...,"[-76.5060156, 39.3322836, -76.439547, 39.3770932]",Feature,339cbb54d4049e36,Rossville,339cbb54d4049e36,city,"[""1533134634359431170""]",5.0,2022-06-04T17:42:35.000Z,0.0
1,1,@alli_processing Or if your life matters...\nS...,-0.4404,negative,2,9435,1533144650575323142,1.532823e+18,1.532823e+18,NaN,...,"[-117.399853, 33.152639, -117.241905, 33.299993]",Feature,1cf657005480e70e,Oceanside,1cf657005480e70e,city,"[""1533144650575323142""]",5.0,2022-06-04T18:22:23.000Z,0.0
2,2,@Nebulam_Noctis @SimBreezay @SnehaMAbraham @mr...,0.7351,positive,3,9334,1533147896069111811,1.532856e+18,1.533081e+18,NaN,...,"[-94.733122, 38.868002, -94.3854414, 39.332095]",Feature,9a974dfc8efb32a0,Kansas City,9a974dfc8efb32a0,city,"[""1533147896069111811""]",5.0,2022-06-04T18:35:17.000Z,0.0
3,3,Our community is faced with multiple crises ri...,-0.3400,negative,4,8384,1533177473428602881,1.533176e+18,1.533177e+18,NaN,...,"[-76.111625, 42.071647, -76.036445, 42.165583]",Feature,00b2f00d342d5819,Endicott,00b2f00d342d5819,city,"[""1533177473428602881""]",5.0,2022-06-04T20:32:49.000Z,1.0
4,4,Life been showing me the GOOD women in my life...,0.8856,positive,6,7990,1533189332835639304,1.533189e+18,NaN,NaN,...,"[-97.538285, 32.569477, -97.033542, 32.990456]",Feature,42e46bc3663a4b5f,Fort Worth,42e46bc3663a4b5f,city,"[""1533189332835639304""]",5.0,2022-06-04T21:19:56.000Z,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256333,217734,One of my dearest friends and breast cancer wa...,0.0258,neutral,373994,8615,1541509563307786240,1.541510e+18,NaN,NaN,...,"[-118.668404, 33.704538, -118.155409, 34.337041]",Feature,3b77caf94bfc81fe,Los Angeles,3b77caf94bfc81fe,city,NaN,NaN,NaN,NaN
256334,217735,Remember once upon a time when there were pro-...,0.7372,positive,373995,8725,1541509574859128832,1.541510e+18,NaN,NaN,...,"[-98.778559, 29.141956, -98.302744, 29.693046]",Feature,3df4f427b5a60fea,San Antonio,3df4f427b5a60fea,city,NaN,NaN,NaN,NaN
256335,217736,@mcgraw2424 Another neat consequence is invest...,-0.2732,negative,373996,9054,1541509622980149248,1.541183e+18,1.541508e+18,NaN,...,"[-115.2092535, 35.984784, -115.0610763, 36.137...",Feature,8fa6d7a33b83ef26,Paradise,8fa6d7a33b83ef26,city,NaN,NaN,NaN,NaN
256336,217737,@brettachapman What do the women think?,0.0000,neutral,373997,9088,1541509622774878208,1.540819e+18,1.540819e+18,NaN,...,"[-87.940033, 41.644102, -87.523993, 42.0230669]",Feature,1d9a5370a355ab0c,Chicago,1d9a5370a355ab0c,city,NaN,NaN,NaN,NaN
256337,217738,"""Ohio GOP lawmaker, asked if he's OK with chil...",-0.8579,negative,373998,9683,1541509704031113216,1.541510e+18,NaN,NaN,...,"[-77.001708, 41.248388, -76.97116, 41.290705]",Feature,01a7c3517969c51e,Faxon,01a7c3517969c51e,city,NaN,NaN,NaN,NaN

In [57]:
original_file['conversation_id'] = original_file['conversation_id'].astype(str)
original_file['created_at'] = original_file['created_at'].astype(str)
original_file['text'] = original_file['text'].astype(str)
original_file

,Unnamed: 0.2,vader_preprocessed_text,vader_compound,sentiment,Unnamed: 0.1,Unnamed: 0,id,conversation_id,referenced_tweets.replied_to.id,referenced_tweets.retweeted.id,...,geo.geo.bbox,geo.geo.type,geo.id,geo.name,geo.place_id,geo.place_type,edit_history_tweet_ids,edit_controls.edits_remaining,edit_controls.editable_until,edit_controls.is_edit_eligible
0,0,@HollyCFossi @JerryattheMovie @Mae_Westside @o...,0.9509,positive,0,9811,1533134634359431170,1.5330996914617057e+18,1.533123e+18,NaN,...,"[-76.5060156, 39.3322836, -76.439547, 39.3770932]",Feature,339cbb54d4049e36,Rossville,339cbb54d4049e36,city,"[""1533134634359431170""]",5.0,2022-06-04T17:42:35.000Z,0.0
1,1,@alli_processing Or if your life matters...\nS...,-0.4404,negative,2,9435,1533144650575323142,1.5328233026950715e+18,1.532823e+18,NaN,...,"[-117.399853, 33.152639, -117.241905, 33.299993]",Feature,1cf657005480e70e,Oceanside,1cf657005480e70e,city,"[""1533144650575323142""]",5.0,2022-06-04T18:22:23.000Z,0.0
2,2,@Nebulam_Noctis @SimBreezay @SnehaMAbraham @mr...,0.7351,positive,3,9334,1533147896069111811,1.532855941116199e+18,1.533081e+18,NaN,...,"[-94.733122, 38.868002, -94.3854414, 39.332095]",Feature,9a974dfc8efb32a0,Kansas City,9a974dfc8efb32a0,city,"[""1533147896069111811""]",5.0,2022-06-04T18:35:17.000Z,0.0
3,3,Our community is faced with multiple crises ri...,-0.3400,negative,4,8384,1533177473428602881,1.5331757584196403e+18,1.533177e+18,NaN,...,"[-76.111625, 42.071647, -76.036445, 42.165583]",Feature,00b2f00d342d5819,Endicott,00b2f00d342d5819,city,"[""1533177473428602881""]",5.0,2022-06-04T20:32:49.000Z,1.0
4,4,Life been showing me the GOOD women in my life...,0.8856,positive,6,7990,1533189332835639304,1.5331893328356393e+18,NaN,NaN,...,"[-97.538285, 32.569477, -97.033542, 32.990456]",Feature,42e46bc3663a4b5f,Fort Worth,42e46bc3663a4b5f,city,"[""1533189332835639304""]",5.0,2022-06-04T21:19:56.000Z,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256333,217734,One of my dearest friends and breast cancer wa...,0.0258,neutral,373994,8615,1541509563307786240,1.5415095633077862e+18,NaN,NaN,...,"[-118.668404, 33.704538, -118.155409, 34.337041]",Feature,3b77caf94bfc81fe,Los Angeles,3b77caf94bfc81fe,city,NaN,NaN,NaN,NaN
256334,217735,Remember once upon a time when there were pro-...,0.7372,positive,373995,8725,1541509574859128832,1.5415095748591288e+18,NaN,NaN,...,"[-98.778559, 29.141956, -98.302744, 29.693046]",Feature,3df4f427b5a60fea,San Antonio,3df4f427b5a60fea,city,NaN,NaN,NaN,NaN
256335,217736,@mcgraw2424 Another neat consequence is invest...,-0.2732,negative,373996,9054,1541509622980149248,1.5411832560322028e+18,1.541508e+18,NaN,...,"[-115.2092535, 35.984784, -115.0610763, 36.137...",Feature,8fa6d7a33b83ef26,Paradise,8fa6d7a33b83ef26,city,NaN,NaN,NaN,NaN
256336,217737,@brettachapman What do the women think?,0.0000,neutral,373997,9088,1541509622774878208,1.5408188965629174e+18,1.540819e+18,NaN,...,"[-87.940033, 41.644102, -87.523993, 42.0230669]",Feature,1d9a5370a355ab0c,Chicago,1d9a5370a355ab0c,city,NaN,NaN,NaN,NaN
256337,217738,"""Ohio GOP lawmaker, asked if he's OK with chil...",-0.8579,negative,373998,9683,1541509704031113216,1.5415097040311132e+18,NaN,NaN,...,"[-77.001708, 41.248388, -76.97116, 41.290705]",Feature,01a7c3517969c51e,Faxon,01a7c3517969c51e,city,NaN,NaN,NaN,NaN

In [58]:
predicted_file = pd.read_csv(os.path.join(os.getcwd(), 'raw', 'abortion_sentiment_prediction', 'all_geotagged_sentiment_with_predictions.csv'), usecols=['full_text', 'id_str', 'created_at', 'annotation'])
predicted_file

,id_str,full_text,annotation,created_at
0,1512589082974695424,@douglascountyks \nWHAT QUALITY OF LIFE MATTER...,throw_out,NaN
1,1493934780840230916,"@joncoopertweets My life matters too, just lik...",throw_out,NaN
2,1512594866148106240,@ResearchAtKU \nWHAT QUALITY OF LIFE MATTERS T...,throw_out,NaN
3,1511327683703189504,"""Join us for an afternoon of pro-life empowerm...",life,NaN
4,1499819804915556352,"If youâ€™re seeing this tweet: You matter, your ...",life,NaN
...,...,...,...,...
257201,1541509563307786240,One of my dearest friends and breast cancer wa...,choice,2022-06-27 19:51:34+00:00
257202,1541509574859128832,Remember once upon a time when there were pro-...,choice,2022-06-27 19:51:37+00:00
257203,1541509622980149248,@mcgraw2424 Another neat consequence is invest...,choice,2022-06-27 19:51:48+00:00
257204,1541509622774878208,@brettachapman What do the women think?,choice,2022-06-27 19:51:48+00:00
257205,1541509704031113216,"""Ohio GOP lawmaker, asked if he's OK with chil...",neutral,2022-06-27 19:52:07+00:00

In [59]:
predicted_file['id_str'] = predicted_file['id_str'].astype(str)
predicted_file['full_text'] = predicted_file['full_text'].astype(str)
predicted_file['created_at'] = predicted_file['created_at'].astype(str)
predicted_file['annotation'] = predicted_file['annotation'].astype(str)
predicted_file

,id_str,full_text,annotation,created_at
0,1512589082974695424,@douglascountyks \nWHAT QUALITY OF LIFE MATTER...,throw_out,nan
1,1493934780840230916,"@joncoopertweets My life matters too, just lik...",throw_out,nan
2,1512594866148106240,@ResearchAtKU \nWHAT QUALITY OF LIFE MATTERS T...,throw_out,nan
3,1511327683703189504,"""Join us for an afternoon of pro-life empowerm...",life,nan
4,1499819804915556352,"If youâ€™re seeing this tweet: You matter, your ...",life,nan
...,...,...,...,...
257201,1541509563307786240,One of my dearest friends and breast cancer wa...,choice,2022-06-27 19:51:34+00:00
257202,1541509574859128832,Remember once upon a time when there were pro-...,choice,2022-06-27 19:51:37+00:00
257203,1541509622980149248,@mcgraw2424 Another neat consequence is invest...,choice,2022-06-27 19:51:48+00:00
257204,1541509622774878208,@brettachapman What do the women think?,choice,2022-06-27 19:51:48+00:00
257205,1541509704031113216,"""Ohio GOP lawmaker, asked if he's OK with chil...",neutral,2022-06-27 19:52:07+00:00

In [63]:
# Drop the duplicate rows that have same id_str
predicted_file = predicted_file.drop_duplicates(subset=['id_str'])
predicted_file

,id_str,full_text,annotation,created_at
0,1512589082974695424,@douglascountyks \nWHAT QUALITY OF LIFE MATTER...,throw_out,nan
1,1493934780840230916,"@joncoopertweets My life matters too, just lik...",throw_out,nan
2,1512594866148106240,@ResearchAtKU \nWHAT QUALITY OF LIFE MATTERS T...,throw_out,nan
3,1511327683703189504,"""Join us for an afternoon of pro-life empowerm...",life,nan
4,1499819804915556352,"If youâ€™re seeing this tweet: You matter, your ...",life,nan
...,...,...,...,...
257201,1541509563307786240,One of my dearest friends and breast cancer wa...,choice,2022-06-27 19:51:34+00:00
257202,1541509574859128832,Remember once upon a time when there were pro-...,choice,2022-06-27 19:51:37+00:00
257203,1541509622980149248,@mcgraw2424 Another neat consequence is invest...,choice,2022-06-27 19:51:48+00:00
257204,1541509622774878208,@brettachapman What do the women think?,choice,2022-06-27 19:51:48+00:00
257205,1541509704031113216,"""Ohio GOP lawmaker, asked if he's OK with chil...",neutral,2022-06-27 19:52:07+00:00

In [64]:
# the id_str column in predicted_df is the same as the conversation_id column in original_df
# I want to merge these two, keeping all of the original's columns, and **only** the annotation column from the predicted file.
merged_df = pd.merge(original_file, predicted_file[['id_str', 'annotation']], left_on='conversation_id', right_on='id_str', how='left')
merged_df

,Unnamed: 0.2,vader_preprocessed_text,vader_compound,sentiment,Unnamed: 0.1,Unnamed: 0,id,conversation_id,referenced_tweets.replied_to.id,referenced_tweets.retweeted.id,...,geo.id,geo.name,geo.place_id,geo.place_type,edit_history_tweet_ids,edit_controls.edits_remaining,edit_controls.editable_until,edit_controls.is_edit_eligible,id_str,annotation
0,0,@HollyCFossi @JerryattheMovie @Mae_Westside @o...,0.9509,positive,0,9811,1533134634359431170,1.5330996914617057e+18,1.533123e+18,NaN,...,339cbb54d4049e36,Rossville,339cbb54d4049e36,city,"[""1533134634359431170""]",5.0,2022-06-04T17:42:35.000Z,0.0,NaN,NaN
1,1,@alli_processing Or if your life matters...\nS...,-0.4404,negative,2,9435,1533144650575323142,1.5328233026950715e+18,1.532823e+18,NaN,...,1cf657005480e70e,Oceanside,1cf657005480e70e,city,"[""1533144650575323142""]",5.0,2022-06-04T18:22:23.000Z,0.0,NaN,NaN
2,2,@Nebulam_Noctis @SimBreezay @SnehaMAbraham @mr...,0.7351,positive,3,9334,1533147896069111811,1.532855941116199e+18,1.533081e+18,NaN,...,9a974dfc8efb32a0,Kansas City,9a974dfc8efb32a0,city,"[""1533147896069111811""]",5.0,2022-06-04T18:35:17.000Z,0.0,NaN,NaN
3,3,Our community is faced with multiple crises ri...,-0.3400,negative,4,8384,1533177473428602881,1.5331757584196403e+18,1.533177e+18,NaN,...,00b2f00d342d5819,Endicott,00b2f00d342d5819,city,"[""1533177473428602881""]",5.0,2022-06-04T20:32:49.000Z,1.0,NaN,NaN
4,4,Life been showing me the GOOD women in my life...,0.8856,positive,6,7990,1533189332835639304,1.5331893328356393e+18,NaN,NaN,...,42e46bc3663a4b5f,Fort Worth,42e46bc3663a4b5f,city,"[""1533189332835639304""]",5.0,2022-06-04T21:19:56.000Z,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256333,217734,One of my dearest friends and breast cancer wa...,0.0258,neutral,373994,8615,1541509563307786240,1.5415095633077862e+18,NaN,NaN,...,3b77caf94bfc81fe,Los Angeles,3b77caf94bfc81fe,city,NaN,NaN,NaN,NaN,NaN,NaN
256334,217735,Remember once upon a time when there were pro-...,0.7372,positive,373995,8725,1541509574859128832,1.5415095748591288e+18,NaN,NaN,...,3df4f427b5a60fea,San Antonio,3df4f427b5a60fea,city,NaN,NaN,NaN,NaN,NaN,NaN
256335,217736,@mcgraw2424 Another neat consequence is invest...,-0.2732,negative,373996,9054,1541509622980149248,1.5411832560322028e+18,1.541508e+18,NaN,...,8fa6d7a33b83ef26,Paradise,8fa6d7a33b83ef26,city,NaN,NaN,NaN,NaN,NaN,NaN
256336,217737,@brettachapman What do the women think?,0.0000,neutral,373997,9088,1541509622774878208,1.5408188965629174e+18,1.540819e+18,NaN,...,1d9a5370a355ab0c,Chicago,1d9a5370a355ab0c,city,NaN,NaN,NaN,NaN,NaN,NaN
256337,217738,"""Ohio GOP lawmaker, asked if he's OK with chil...",-0.8579,negative,373998,9683,1541509704031113216,1.5415097040311132e+18,NaN,NaN,...,01a7c3517969c51e,Faxon,01a7c3517969c51e,city,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
# Drop the rows that have NaN in the annotation column
merged_df = merged_df.dropna(subset=['annotation'])
merged_df

,Unnamed: 0.2,vader_preprocessed_text,vader_compound,sentiment,Unnamed: 0.1,Unnamed: 0,id,conversation_id,referenced_tweets.replied_to.id,referenced_tweets.retweeted.id,...,geo.id,geo.name,geo.place_id,geo.place_type,edit_history_tweet_ids,edit_controls.edits_remaining,edit_controls.editable_until,edit_controls.is_edit_eligible,id_str,annotation
38868,269,Ted bundy \nRoe v Wade\nPorn\n\nCaroline Carli...,0.5683,positive,489,6828,1589662499334688769,1.5896624993346888e+18,NaN,NaN,...,b49b3053b5c25bf5,Denver,b49b3053b5c25bf5,city,"[""1589662499334688769""]",5.0,2022-11-07T17:24:08.000Z,True,1.5896624993346888e+18,choice
38872,273,Itâ€™s a beautiful day! November is a great mont...,0.9712,positive,494,5095,1589680973071142913,1.589680973071143e+18,NaN,NaN,...,37bcd9d2fe172622,Mount Pleasant,37bcd9d2fe172622,city,"[""1589680973071142913""]",5.0,2022-11-07T18:37:33.000Z,True,1.589680973071143e+18,life
38874,275,Happy 'Make It Matter Monday' My BeautifulPpl!...,0.8805,positive,496,4497,1589688389347033090,1.589688389347033e+18,NaN,NaN,...,3f7a925ec706ea48,Lakeland,3f7a925ec706ea48,city,"[""1589688389347033090""]",5.0,2022-11-07T19:07:01.000Z,True,1.589688389347033e+18,life
39222,623,nobodyâ€™s life matters\nfuck everybody,0.0000,neutral,1090,8253,1579835847935131648,1.5798358479351316e+18,NaN,NaN,...,01c3fa285ac61b1d,Valparaiso,01c3fa285ac61b1d,city,['1579835847935131649'],5.0,2022-10-11T14:36:32.000Z,True,1.5798358479351316e+18,choice
39223,624,"Our Freodom , LIBRTY AND JUSTICE FOR ALL.\n MY...",0.6289,positive,1091,7851,1579838708001689600,1.5798387080016896e+18,NaN,NaN,...,b4a0e9082dcc8436,Delray Beach,b4a0e9082dcc8436,city,['1579838708001689601'],5.0,2022-10-11T14:47:54.000Z,True,1.5798387080016896e+18,choice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255474,216875,â€œExcept in matters of incest and rapeâ€. Proble...,-0.9108,negative,372672,6918,1540726619379318784,1.5407266193793188e+18,NaN,NaN,...,f54a2170ff4b15f7,Illinois,f54a2170ff4b15f7,admin,['1540726619379318787'],5.0,2022-06-25T16:30:26.000Z,True,1.5407266193793188e+18,life
255475,216876,Na but like the fact that they overturned Roe ...,0.5023,positive,372673,5275,1540727097651408896,1.540727097651409e+18,NaN,NaN,...,5c62ffb0f0f3479d,Phoenix,5c62ffb0f0f3479d,city,['1540727097651408897'],5.0,2022-06-25T16:32:20.000Z,True,1.540727097651409e+18,choice
255482,216883,heâ€™s a 10 but stays silent when Roe v Wade get...,0.0000,neutral,372686,1033,1540728368840196096,1.540728368840196e+18,NaN,NaN,...,01fbe706f872cb32,Washington,01fbe706f872cb32,city,['1540728368840196099'],5.0,2022-06-25T16:37:23.000Z,True,1.540728368840196e+18,choice
255485,216886,"Roe v Wade, Why I dont go to Church, Break My ...",0.4574,positive,372689,393,1540728542513795072,1.540728542513795e+18,NaN,NaN,...,8173485c72e78ca5,Atlanta,8173485c72e78ca5,city,['1540728542513795073'],5.0,2022-06-25T16:38:04.000Z,True,1.540728542513795e+18,neutral
255630,217031,@lindyli @1_7840 They are elite,0.0000,neutral,372940,2660,1586046938046078976,1.5854329790019912e+18,1.585433e+18,NaN,...,a906602d22b1ddf0,Conshohocken,a906602d22b1ddf0,city,"[""1586046938046078976""]",5.0,2022-10-28T17:57:12.000Z,False,1.5854329790019912e+18,choice

In [67]:
# reset the index
merged_df = merged_df.reset_index(drop=True)
merged_df

,Unnamed: 0.2,vader_preprocessed_text,vader_compound,sentiment,Unnamed: 0.1,Unnamed: 0,id,conversation_id,referenced_tweets.replied_to.id,referenced_tweets.retweeted.id,...,geo.id,geo.name,geo.place_id,geo.place_type,edit_history_tweet_ids,edit_controls.edits_remaining,edit_controls.editable_until,edit_controls.is_edit_eligible,id_str,annotation
0,269,Ted bundy \nRoe v Wade\nPorn\n\nCaroline Carli...,0.5683,positive,489,6828,1589662499334688769,1.5896624993346888e+18,NaN,NaN,...,b49b3053b5c25bf5,Denver,b49b3053b5c25bf5,city,"[""1589662499334688769""]",5.0,2022-11-07T17:24:08.000Z,True,1.5896624993346888e+18,choice
1,273,Itâ€™s a beautiful day! November is a great mont...,0.9712,positive,494,5095,1589680973071142913,1.589680973071143e+18,NaN,NaN,...,37bcd9d2fe172622,Mount Pleasant,37bcd9d2fe172622,city,"[""1589680973071142913""]",5.0,2022-11-07T18:37:33.000Z,True,1.589680973071143e+18,life
2,275,Happy 'Make It Matter Monday' My BeautifulPpl!...,0.8805,positive,496,4497,1589688389347033090,1.589688389347033e+18,NaN,NaN,...,3f7a925ec706ea48,Lakeland,3f7a925ec706ea48,city,"[""1589688389347033090""]",5.0,2022-11-07T19:07:01.000Z,True,1.589688389347033e+18,life
3,623,nobodyâ€™s life matters\nfuck everybody,0.0000,neutral,1090,8253,1579835847935131648,1.5798358479351316e+18,NaN,NaN,...,01c3fa285ac61b1d,Valparaiso,01c3fa285ac61b1d,city,['1579835847935131649'],5.0,2022-10-11T14:36:32.000Z,True,1.5798358479351316e+18,choice
4,624,"Our Freodom , LIBRTY AND JUSTICE FOR ALL.\n MY...",0.6289,positive,1091,7851,1579838708001689600,1.5798387080016896e+18,NaN,NaN,...,b4a0e9082dcc8436,Delray Beach,b4a0e9082dcc8436,city,['1579838708001689601'],5.0,2022-10-11T14:47:54.000Z,True,1.5798387080016896e+18,choice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26017,216875,â€œExcept in matters of incest and rapeâ€. Proble...,-0.9108,negative,372672,6918,1540726619379318784,1.5407266193793188e+18,NaN,NaN,...,f54a2170ff4b15f7,Illinois,f54a2170ff4b15f7,admin,['1540726619379318787'],5.0,2022-06-25T16:30:26.000Z,True,1.5407266193793188e+18,life
26018,216876,Na but like the fact that they overturned Roe ...,0.5023,positive,372673,5275,1540727097651408896,1.540727097651409e+18,NaN,NaN,...,5c62ffb0f0f3479d,Phoenix,5c62ffb0f0f3479d,city,['1540727097651408897'],5.0,2022-06-25T16:32:20.000Z,True,1.540727097651409e+18,choice
26019,216883,heâ€™s a 10 but stays silent when Roe v Wade get...,0.0000,neutral,372686,1033,1540728368840196096,1.540728368840196e+18,NaN,NaN,...,01fbe706f872cb32,Washington,01fbe706f872cb32,city,['1540728368840196099'],5.0,2022-06-25T16:37:23.000Z,True,1.540728368840196e+18,choice
26020,216886,"Roe v Wade, Why I dont go to Church, Break My ...",0.4574,positive,372689,393,1540728542513795072,1.540728542513795e+18,NaN,NaN,...,8173485c72e78ca5,Atlanta,8173485c72e78ca5,city,['1540728542513795073'],5.0,2022-06-25T16:38:04.000Z,True,1.540728542513795e+18,neutral
26021,217031,@lindyli @1_7840 They are elite,0.0000,neutral,372940,2660,1586046938046078976,1.5854329790019912e+18,1.585433e+18,NaN,...,a906602d22b1ddf0,Conshohocken,a906602d22b1ddf0,city,"[""1586046938046078976""]",5.0,2022-10-28T17:57:12.000Z,False,1.5854329790019912e+18,choice

In [68]:
# save the merged_df to a csv file
merged_df.to_csv(os.path.join(os.getcwd(), 'raw', 'abortion_sentiment_prediction', 'all_geotagged_sentiment_with_predictions.csv'), index=False)